node_modules/
dist/
build/
app/.electron-runtime/
.astro/
docs-fumadocs/.next/
docs-fumadocs/.source/
docs-fumadocs/out/
docs-fumadocs/content/docs/

public/output.css

.DS_Store

.vscode/settings.json

*.lock
api-legacy.json
api.json
api-types.json

.yarnrc
.yarn/

ui-references/