[changelog]
header = """
# Changelog

All notable changes to this project will be documented in this file.\n
"""
body = """
{%- macro remote_url() -%}
  https://github.com/{{ remote.github.owner }}/{{ remote.github.repo }}
{%- endmacro -%}
{% if version %}\
	# [{{ version | trim_start_matches(pat="v") }}]\
	{% if previous %}\
		{% if previous.version %}\
			({{ self::remote_url() }}/compare/{{ previous.version }}...{{ version }})\
		{% else %}\
			({{ self::remote_url() }}/tree/{{ version }})\
		{% endif %}\
	{% endif %} \
	- ({{ timestamp | date(format="%Y-%m-%d") }})
{% else %}\
	# [unreleased]
{% endif %}\
{% for group, group_commits in commits | group_by(attribute="group") %}
	## {{ group | striptags | trim | upper_first }}
	{% for message, message_commits in group_commits | group_by(attribute="message") %}
		- {% if message_commits[0].scope %}**{{ message_commits[0].scope }}:** {% endif %}{{ message | upper_first }} ({% for c in message_commits %}[{{ c.id | truncate(length=7, end="") }}]({{ self::remote_url() }}/commit/{{ c.id }}){% if not loop.last %}, {% endif %}{% endfor %})
		{%- for c in message_commits %}
			{%- if c.body %}
				{{ "\n" }}  - {{ c.body | trim | indent(prefix="    ", first=false) }}
			{%- endif %}
		{%- endfor %}
	{% endfor %}
{% endfor %}\n
"""
trim = true
footer = ""

[git]
conventional_commits = true
filter_unconventional = true
commit_parsers = [
	{ message = "^fix", group = "<!-- 0 -->Bug Fixes"},
	{ message = "^refactor", group = "<!-- 1 -->Refactor"},
	{ message = "^feat", group = "<!-- 2 -->Features"},
	{ message = "^docs", group = "<!-- 3 -->Documentation"},
	{ message = "^revert", skip = true},
	{ message = "^chore", skip = true},
]
filter_commits = true
protect_breaking_commits = true
ignore_tags = ""
topo_order = false
sort_commits = "newest"


[remote.github]
owner = "toommyliu"
repo = "vexed"