[changelog]
header = """
# Changelog

All notable changes to this project will be documented in this file.\n
"""
body = """
{%- macro remote_url() -%}
  https://github.com/{{ remote.github.owner }}/{{ remote.github.repo }}
{%- endmacro -%}
{% if version %}\
	# [{{ version | trim_start_matches(pat="v") }}]\
	{% if previous %}\
		{% if previous.version %}\
			({{ self::remote_url() }}/compare/{{ previous.version }}...{{ version }})\
		{% else %}\
			({{ self::remote_url() }}/tree/{{ version }})\
		{% endif %}\
	{% endif %} \
	- ({{ timestamp | date(format="%Y-%m-%d") }})
{% else %}\
	# [unreleased]
{% endif %}\
{% for group, group_commits in commits | group_by(attribute="group") %}
	## {{ group | upper_first }}
	{% for message, message_commits in group_commits | group_by(attribute="message") %}
		- {{ message | upper_first }} ({% for c in message_commits %}[{{ c.id | truncate(length=7, end="") }}]({{ self::remote_url() }}/commit/{{ c.id }}){% if not loop.last %}, {% endif %}{% endfor %})
	{% endfor %}
{% endfor %}\n
"""
trim = true
footer = ""

[git]
conventional_commits = true
filter_unconventional = true
commit_parsers = [
	{ message = "^feat", group = "Features"},
	{ message = "^fix", group = "Bug Fixes"},
	{ message = "^docs", group = "Documentation"},
	{ message = "^refactor", group = "Refactor"},
	{ message = "^revert", skip = true},
	{ message = "^chore", skip = true},
]
filter_commits = true
protect_breaking_commits = true
ignore_tags = ""
topo_order = false
sort_commits = "newest"

[remote.github]
owner = "toommyliu"
repo = "vexed"