@import url('./w3.css');

:focus {
	outline: none;
}

:root {
	--bg-primary: #121212;
	--bg-secondary: #27272a;
	--topnav-height: 32px;
}

body {
	background-color: var(--bg-primary) !important;
	color: #fff !important;
	margin: 0px !important;
}

.show {
	opacity: 1;
}

.hide {
	opacity: 0;
	transition: opacity 400ms;
}

/* Dark scrollbar  */
::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background: #1a1a1a;
}
::-webkit-scrollbar-corner {
	background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
