.show {
	opacity: 1;
}

.hide {
	opacity: 0;
	transition: opacity 400ms;
}

/* Dark scrollbar  */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
	background-color: #4a4a4a;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #5a5a5a;
}

::-webkit-scrollbar-button {
	background-color: #2a2a2a;
}
