/* custom css defines for w3.css, to be used anywhere but the main page */
.w3-button {
	background-color: #3e63dd !important;
	color: white !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
	/* padding-top: 0px !important;
	padding-bottom: 0px !important;
	height: 36px !important; */
}
.w3-button:hover {
	background-color: #5472e4 !important;
	color: white !important;
}

.w3-input {
	background-color: var(--bg-secondary) !important;
	color: white !important;
}
.w3-select {
	background-color: var(--bg-secondary) !important;
	color: white !important;
	padding-left: 8px !important;
	/* move the native select arrow toward the left */
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 8px center;
	background-size: 16px;
}

input[type='checkbox']:not(:checked) {
	background-color: #131314 !important;
	appearance: none;
	width: 13px;
	height: 13px;
	border: 1px solid #474951;
	border-radius: 3px;
}

.w3-card {
	background-color: var(--bg-secondary) !important;
	border: 1px solid lightgrey !important;
	border-radius: 6px !important;
}