body {
	background-color: #111113 !important;
	color: white !important;
	font-family: -apple-system, 'system-ui', 'Segoe UI (Custom)', Roboto,
		'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji' !important;
	font-weight: 500 !important;
}

.card {
	background-color: #18191b !important;
	border: 1px solid lightgrey !important;
	border-radius: 6px;
}

#loader-id,
#loader-name,
#loader-select,
#grabber-select {
	background-color: #18191b !important;
	color: white !important;
}

.w3-button {
	background-color: #3e63dd !important;
	color: white !important;
}

.w3-button:hover {
	background-color: #5472e4 !important;
	color: white !important;
}

#tree {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	min-height: 125px;
	max-height: 125px;
	color: white;
	margin-bottom: 16px;
}

.node {
	cursor: pointer;
	position: relative;
}
.expander {
	padding-left: 8px;
}
.content {
	display: flex;
	align-items: center;
	gap: 8px;
}
.content span {
	margin-top: -5px;
}
.child-container {
	margin-left: 33px;
	position: relative;
	border-left: 1px dashed #888; /* vertical line when a node is toggled */
}
.child-container > .node:not(.has-children)::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 20px;
	height: 1px;
	border-top: 1px dashed #888; /* horizontal line from the parent to the child node */
	transform: translateY(-50%);
}
.child-line {
	width: fit-content;
	position: relative;
}
.child-line::before {
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	width: 20px;
	height: 1px;
	border-top: 1px dashed #888;
}
.child-name {
	cursor: default;
	margin-left: 32px;
}
.child-value {
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
	display: inline-block;
}
.child-value:hover {
	background-color: rgba(211, 211, 211, 0.1);
}
.child-value.copied {
	background-color: rgba(76, 175, 80, 0.3);
}
