:root {
	--bg-primary: hsl(204deg 14.29% 6.86%);
	--bg-secondary: hsl(204deg 14.29% 9.5%);
	--bg-tertiary: hsl(204deg 14.29% 12%);
	--color-primary: rgb(11 107 203);
}

html,
body {
	background-color: var(--bg-primary) !important;
	color: white !important;
}

:focus {
	outline: none;
}

.w3-select,
.w3-input {
	background-color: var(--bg-secondary) !important;
	color: white !important;
}
.w3-select:disabled,
.w3-input:disabled {
	background-color: var(--bg-disabled) !important;
	color: lightgrey;
	cursor: not-allowed;
	opacity: 0.7;
}

.w3-btn,
.w3-button {
	background-color: var(--color-primary) !important;
	color: white !important;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background: #1a1a1a;
}
::-webkit-scrollbar-corner {
	background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
