:root {
	--navbar-height: 27px;
	--background-color: #1f1f1f;
	--bg-secondary: #2c2c2c;
}

:focus {
	outline: none;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--background-color);
}

#gameContainer {
	position: relative;
}

#swf {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: calc(100% - var(--navbar-height));
}

#topnav {
	background-color: var(--background-color);
	color: white;
	height: var(--navbar-height);
}

#topnav .w3-dropdown-click .w3-dropdown-content,
#topnav .w3-dropdown-hover .w3-dropdown-content {
	background-color: var(--background-color);
	color: white;
	min-width: auto;
	width: auto;
	max-width: auto;
}

#topnav .w3-dropdown-click .w3-dropdown-content {
	margin-top: -3.5px;
}

#topnav .w3-dropdown-click .w3-dropdown-content .w3-button,
#topnav .w3-dropdown-hover .w3-dropdown-content .w3-button {
	text-align: left;
}

.checkmark {
	position: absolute;
	right: 10px;
	margin-top: -15px;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	display: none;
}

#x,
#bank,
#cells,
#pads {
	height: 21px;
	margin-top: 4px;
}

#x {
	margin-left: 6px;
	margin-right: -2px;
	padding: 0 4px;
}

#bank {
	margin-left: 10px;
	margin-right: 5px;
	padding: 0 8px;
}

#cells {
	margin-left: 10px;
	padding: 0 4px;
	width: 100px;
	background-color: #24242e;
	color: white;
}

#pads {
	margin-right: -4px;
	padding: 0 10px;
	width: 100px;
	background-color: #24242e;
	color: white;
}
