#loader,
#grabber {
	background-color: var(--bg-secondary) !important;
}

#tree {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	min-height: 125px;
	max-height: 125px;
	color: white;
	background-color: var(--bg-secondary);
	margin-bottom: 16px;
}

.node {
	cursor: pointer;
	position: relative;
}
.expander {
	padding-left: 8px;
}
.content {
	display: flex;
	align-items: center;
	gap: 8px;
}
.child-container {
	margin-left: 33px;
	position: relative;
	border-left: 1px dashed #888; /* vertical line */
}
.child-container > .node:not(.has-children)::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 20px;
	height: 1px;
	border-top: 1px dashed #888; /* horizontal line */
	transform: translateY(-50%);
}
.child-line {
	width: fit-content;
	position: relative;
}
.child-line::before {
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	width: 20px;
	height: 1px;
	border-top: 1px dashed #888;
}
.child-name {
	cursor: default;
	margin-left: 32px;
}
.child-value {
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
	display: inline-block;
}
.child-value:hover {
	background-color: rgba(211, 211, 211, 0.1);
}
.child-value.copied {
	background-color: rgba(76, 175, 80, 0.3);
}
