@import "@fontsource/inter";
@import "@vexed/ui/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    user-select: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}