@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    user-select: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 37 37 37;
    --card: 255 255 255;
    --card-foreground: 37 37 37;
    --popover: 255 255 255;
    --popover-foreground: 37 37 37;
    --primary: 52 52 52;
    --primary-foreground: 251 251 251;
    --secondary: 247 247 247;
    --secondary-foreground: 52 52 52;
    --muted: 247 247 247;
    --muted-foreground: 142 142 142;
    --accent: 247 247 247;
    --accent-foreground: 52 52 52;
    --destructive: 147 77 70;
    --destructive-foreground: 251 251 251;
    --success: 34 197 94;
    --success-foreground: 255 255 255;
    --border: 235 235 235;
    --input: 235 235 235;
    --ring: 180 180 180;
    --radius: 0.625rem;
  }

  .dark {
    --background: 37 37 37;
    --foreground: 251 251 251;
    --card: 52 52 52;
    --card-foreground: 251 251 251;
    --popover: 52 52 52;
    --popover-foreground: 251 251 251;
    --primary: 235 235 235;
    --primary-foreground: 52 52 52;
    --secondary: 69 69 69;
    --secondary-foreground: 251 251 251;
    --muted: 69 69 69;
    --muted-foreground: 180 180 180;
    --accent: 69 69 69;
    --accent-foreground: 251 251 251;
    --destructive: 179 107 99;
    --destructive-foreground: 251 251 251;
    --success: 34 197 94;
    --success-foreground: 255 255 255;
    --border: 255 255 255;
    --input: 255 255 255;
    --ring: 142 142 142;
  }
}

body {
  color: white !important;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

input[type="checkbox"] {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
}

input[type="checkbox"]:not(:checked) {
  appearance: none;
  background-color: rgb(24 24 27);
  /* bg-zinc-900 */
  border-radius: 2px;
  border: 1px solid #4b5563;
}

input[type="checkbox"]:checked {
  position: relative;
  width: 14px;
  height: 14px;
}

input[type="checkbox"]+label {
  margin-left: 5px;
  cursor: pointer;
}