@import "@vexed/ui/styles.css";
@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    user-select: none;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px !important;
    font-feature-settings: 'cv01', 'cv02', 'cv03', 'cv04', 'ss01';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :focus,
  :focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
}