.w3-bar {
    display: flex;
    align-items: center;
    gap: 16px;
}

.w3-bar-item.w3-left {
    flex: 0 0 auto;
}

.w3-bar-item.w3-right {
    flex: 1;
}

.w3-input {
    width: 100% !important;
    box-sizing: border-box;
}

#locations {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 16px;
	width: 100%;
}