#card {
	background-color: var(--bg-secondary);
}

#card input {
	background-color: var(--bg-primary) !important;
	border: 1px solid #2d2d2d !important;
	color: #fff !important;
}

#locations {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 16px;
	width: 100%;
}

#locations .w3-button {
	width: 100%;
	background-color: #27272a !important; /* zinc-800 */
}

#locations .w3-button:hover {
	color: white !important;
	background-color: #18181b !important; /* zinc-900 */
}
