#player,
#skill-delay,
#attack-priority {
	height: 36px;
}

#player-name-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 6px;
}

#player-name-row button {
	width: min-content;
}

#skill-list-row {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 8px;
}

#skill-list,
#skill-delay {
	flex: 1;
}

#skill-wait-row {
	display: flex;
	align-items: center;
	gap: 6px;
	white-space: nowrap;
	line-height: 1;
}

#skill-wait {
	margin: 0;
	transform: translateY(1px);
}

#skill-wait-row label {
	display: flex;
	align-items: center;
	height: 100%;
}

.input-group {
	display: flex;
	align-items: center;
	gap: 6px;
}

.input-group label {
	display: flex;
	align-items: center;
	height: 36px;
	white-space: nowrap;
}
