.spammer {
	height: calc(100vh - 230px);
	overflow-y: auto;
	resize: vertical;
}

.line {
	display: block;
	width: max-content;
	margin-left: 4px;
	margin-top: 4px;
	cursor: pointer;
	color: white;
	border-radius: 4px;
	font-size: 12px;
	border: 1px solid transparent;
	padding: 0px;
	user-select: none;
}

.line:first-of-type {
	margin-top: 2px;
}

.line:hover {
	background-color: grey;
}

.selected-line {
	margin-left: 4px;
	margin-top: 4px;
	padding: 0px;
	background-color: #3a3a3a;
	border: 1px solid #5a5a5a;
	user-select: none;
}
