#button-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 16px;
}

#logger {
	height: 150px;
	overflow-y: auto;
	resize: vertical;
}

.line {
	display: block;
	width: max-content;
	margin-left: 4px;
	margin-top: 4px;
	cursor: pointer;
	color: white;
	border-radius: 4px;
	font-size: 12px;
}

.line:first-of-type {
	margin-top: 2px;
}

.line:hover {
	background-color: grey;
}
