name: Build

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name for the release (e.g., 1.0.0)'
        required: true
        type: string

jobs:
  build_electron:
    name: Build Electron App
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.17.0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.8.0'

      - name: Install dependencies
        run: pnpm install

      - name: Build electron app
        run: cd app && pnpm run build:all
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload binary
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.tag_name || github.ref_name }}
          files: |
            ./app/build/vexed-mac.zip
            ./app/build/vexed-win.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
